In [48]:
import pandas as pd
import numpy as np

In [10]:
def revisar_datos(df):
    """Revisa el total de filas y columnas, valores faltantes y duplicados."""
    print("\nüîç Revisi√≥n inicial de los datos:")
    print(f"Forma del DataFrame (filas, columnas): {df.shape}")
    print("\nValores faltantes por columna:\n", df.isnull().sum())
    
    duplicados = df.duplicated().sum()
    print(f"\nTotal de filas duplicadas: {duplicados}")

In [11]:
def limpiar_datos(df):
    """Limpia los datos eliminando valores nulos y 'unknown' en Size y Volume."""
    
    # Eliminar filas con valores nulos
    df = df.dropna()
    
    # Filtrar filas con "unknown" en Size o Volume
    unknown_mask = df["Size"].str.contains("unknown", case=False, na=False) | \
                   df["Volume"].astype(str).str.contains("unknown", case=False, na=False)
    
    df_clean = df[~unknown_mask]
    
    print(f"\nDatos despu√©s de limpieza: {df_clean.shape}")
    return df_clean

## Tabla productos

In [53]:
productos=pd.read_csv('D:\DATOS\Desktop\data base\PurchasePricesDec.csv',sep=',')

In [54]:
productos.tail()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

In [55]:
revisar_datos(productos)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (12261, 9)

Valores faltantes por columna:
 Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

Total de filas duplicadas: 0

In [56]:
limpiar_datos(productos)

Datos despu√©s de limpieza: (12256, 9)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

In [57]:
productos.columns = ["ProductoId", "NombreProducto", "PrecioVenta","Tama√±o", "Volumen", "Clasificacion","CostoUnitario", "ProveedorId", "NombreProveedor" ]

In [58]:
productos.tail()

,ProductoId,NombreProducto,PrecioVenta,Tama√±o,Volumen,Clasificacion,CostoUnitario,ProveedorId,NombreProveedor
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

## Inventario Enero

In [16]:
inventario_inicial=pd.read_csv('D:\DATOS\Desktop\data base\BegInvFINAL12312016.csv',sep=',')

In [24]:
inventario_inicial.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [17]:
revisar_datos(inventario_inicial)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (206529, 9)

Valores faltantes por columna:
 InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

Total de filas duplicadas: 0

In [65]:
inventario_inicial.columns = ["InventarioId","Tienda","Ciudad","ProductoId","NombreProducto","Tama√±o","Existencia", "PrecioVenta","Fecha_inicio" ]

In [66]:
inventario_inicial.tail()

,InventarioId,Tienda,Ciudad,ProductoId,NombreProducto,Tama√±o,Existencia,PrecioVenta,Fecha_inicio
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL,13,22.99,2016-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL,13,13.99,2016-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL,19,23.99,2016-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL,12,144.99,2016-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL,24,119.99,2016-01-01

## Inventario Diciembre

In [18]:
inventario_final=pd.read_csv('D:\DATOS\Desktop\data base\EndInvFINAL12312016.csv',sep=',')

In [23]:
inventario_final.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

In [19]:
revisar_datos(inventario_final)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (224489, 9)

Valores faltantes por columna:
 InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

Total de filas duplicadas: 0

In [37]:
inventario_final['City'].fillna('TYWARDREATH', inplace=True)

In [38]:
revisar_datos(inventario_final)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (224489, 9)

Valores faltantes por columna:
 InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
endDate        0
dtype: int64

Total de filas duplicadas: 0

In [73]:
inventario_final.columns = ["InventarioId","Tienda","Ciudad","ProductoId","NombreProducto","Tama√±o","Existencia", "PrecioVenta","Fecha_cierre" ]

In [74]:
inventario_final.tail()

,InventarioId,Tienda,Ciudad,ProductoId,NombreProducto,Tama√±o,Existencia,PrecioVenta,Fecha_cierre
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2016-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2016-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2016-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2016-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2016-12-31

## Compras

In [26]:
compras_2016=pd.read_csv('D:\DATOS\Desktop\data base\InvoicePurchases12312016.csv',sep=',')

In [28]:
compras_2016.head()

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN

In [30]:
revisar_datos(compras_2016)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (5543, 10)

Valores faltantes por columna:
 VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

Total de filas duplicadas: 0

In [70]:
compras_2016.drop('Approval', axis=1, inplace=True)

In [71]:
revisar_datos(compras_2016)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (5543, 9)

Valores faltantes por columna:
 VendorNumber    0
VendorName      0
InvoiceDate     0
PONumber        0
PODate          0
PayDate         0
Quantity        0
Dollars         0
Freight         0
dtype: int64

Total de filas duplicadas: 0

In [76]:
compras_2016.columns = ["ProveedorId","NombreProveedor","fechaCompra","PedidoId","FechaPedido","FechaPago","Cantidad","ValorFactura", "ValorEnvio" ]

In [77]:
compras_2016.tail()

,ProveedorId,NombreProveedor,fechaCompra,PedidoId,FechaPedido,FechaPago,Cantidad,ValorFactura,ValorEnvio
5538,9622,WEIN BAUER INC,2017-01-06,13626,2016-12-21,2017-02-10,90,1563.00,8.60
5539,9625,WESTERN SPIRITS BEVERAGE CO,2017-01-10,13661,2016-12-23,2017-02-18,4617,37300.48,186.50
5540,3664,WILLIAM GRANT & SONS INC,2017-01-02,13643,2016-12-22,2017-02-04,9848,202815.78,932.95
5541,9815,WINE GROUP INC,2017-01-03,13602,2016-12-20,2017-02-08,24747,149007.56,819.54
5542,90058,ZORVINO VINEYARDS,2017-01-05,13574,2016-12-18,2017-02-12,437,3608.11,16.60

## Detalles de Compras

In [81]:
detalles_compras_2016=pd.read_csv('D:\DATOS\Desktop\data base\PurchasesFINAL12312016.csv',sep=',')

In [82]:
detalles_compras_2016.head()

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [ ]:
revisar_datos(detalles_compras_2016)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (2372474, 16)

Valores faltantes por columna:
 InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Total de filas duplicadas: 0

In [84]:
detalles_compras_2016['Size'].fillna(750, inplace=True)

In [85]:
revisar_datos(detalles_compras_2016)

üîç Revisi√≥n inicial de los datos:
Forma del DataFrame (filas, columnas): (2372474, 16)

Valores faltantes por columna:
 InventoryId       0
Store             0
Brand             0
Description       0
Size              0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

Total de filas duplicadas: 0

In [86]:
detalles_compras_2016.columns = ["InventarioID","Tienda","ProductoID","NombreProducto","Tama√±o","ProveedorId","NombreProveedor","PedidoId","FechaPedido","FechaRecibido","FechaFactura","FechaPago","PrecioUnitario","Cantidad", "PrecioTotal","Clasificaci√≥n" ]

In [87]:
detalles_compras_2016.tail()

,InventarioID,Tienda,ProductoID,NombreProducto,Tama√±o,ProveedorId,NombreProveedor,PedidoId,FechaPedido,FechaRecibido,FechaFactura,FechaPago,PrecioUnitario,Cantidad,PrecioTotal,Clasificaci√≥n
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-27,2017-01-09,2017-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2